=breadcrumb_tag do
  %li.active
    Амбулаторные периоды
  %li
    Больница

%h1= t('app.surveys.index')

= link_to new_survey_path, class: 'btn btn-success' do
  = fa_icon :plus
  = t('buttons.new.survey')
.table-responsive
  %table.table.table-hover.table-striped.center
    %caption
    %thead
      %tr
        %th= Survey.human_attribute_name(:card)
        %th= Survey.human_attribute_name(:result)
        %th= Survey.human_attribute_name(:ward)
        %th= Survey.human_attribute_name(:cause)
        %th= Survey.human_attribute_name(:entered)
        %th= Survey.human_attribute_name(:ended)
        %th= Survey.human_attribute_name(:epicrisis)
        %th.p50
        %th.p50
        %th.p50

    %tbody

      - @surveys.each do |survey|
        %tr
          %td= survey.card.cart_number
          %td= survey.result.title
          %td= survey.ward.number
          %td= survey.cause
          %td= survey.entered
          %td= survey.ended
          %td= survey.epicrisis
            
          %td.right
            = link_to survey, class: 'btn btn-success' do
              = fa_icon :eye
          %td.right
            = link_to edit_survey_path(survey), class: 'btn btn-info' do
              = fa_icon :edit
          %td.right
            = link_to survey, :method => :delete, :data => { :confirm => t('helpers.sure') }, class: 'btn btn-danger' do
              = fa_icon :times
