= form_for @ward do |f|

  = error_messages_for @ward
  .row
    .col-md-6
      .form-group
        = f.label :department
        = f.number_field :department, class: 'form-control'
        = f.error_messages_for(:department)
    .col-md-3
      .form-group
        = f.label :floor
        = f.number_field :floor, class: 'form-control'
        = f.error_messages_for(:floor)
    .col-md-3
      .form-group
        = f.label :capacity
        = f.number_field :capacity, class: 'form-control'
        = f.error_messages_for(:capacity)
  .row
    .col-md-6
      .form-group
        = f.label :number
        = f.number_field :number, class: 'form-control'
        = f.error_messages_for(:number)
    .col-md-6
      .form-group
        = f.label :num_of_pacients
        = f.number_field :num_of_pacients, class: 'form-control'
        = f.error_messages_for(:num_of_pacients)
  .form-actions.bottom20
    = f.submit nil, class: 'btn btn-primary'
